<section id="terms">
    <div class="">
      <h2>Terms & Conditions</h2>
      <h4>Terms and Conditions</h4>
      <p>
        Welcome to the Northern Acres site (the “Site”). James W. Powers, Inc. provides this Site and all applications, software, content and services available within the Site (collectively, the “Materials”) subject to the following terms and
        conditions.
      </p>
      <p>
        Within these Terms and Conditions, we may refer you to additional terms and conditions regarding your access to and use of the Site and the Services, which you should read carefully (collectively with these Terms, this “Agreement”). Please
        read this Agreement carefully before using this Site. If you do not agree to be bound by the terms and provisions of this Agreement, do not use this Site. By your affirmative act of accessing, using, or registering with this Site, you
        acknowledge and agree that (1) you have read and are bound by the terms and provisions of this Agreement, and (2) this Agreement constitutes a legal and binding agreement between you and James W. Powers, Inc.
      </p>
      <p>
        As used in these Terms and Conditions, the words “you” and “your” refer to any person accessing the Site. The words “we,” “us,” and “our” refer to James W. Powers, Inc. We reserve the right to modify, alter, or otherwise update these Terms
        and Conditions at any time. We will post any such change at this Site, so you are encouraged to review these Terms and Conditions from time to time. Your continued use of our Site following the posting of changes to these Terms and Conditions
        will constitute your acceptance of any and all posted changes. We may of course change, move or delete portions of our site, or add to our site from time to time.
      </p>
    </div>

    <div class="">
      <h4>Information Is Provided for Informational Purposes</h4>
        <p>
          ALL MATERIALS ON OUR WEB SITE ARE PROVIDED SOLELY FOR INFORMATIONAL PURPOSES. ALTHOUGH WE STRIVE TO PROVIDE ON OUR SITE THE LATEST DEVELOPMENTS RELATING TO OUR SERVICE AREAS, WE DO NOT WARRANT THE ACCURACY, EFFECTIVENESS, OR SUITABILITY OF
          ANY MATERIALS. CHANGES IN LOCAL, STATE, AND FEDERAL LAWS THAT AFFECT OUR SERVICE AREAS OCCUR FREQUENTLY AND SOMETIMES QUICKLY, AND INTERPRETATIONS OF LAW CAN VARY GREATLY. THEREFORE, WE RECOMMEND THAT ALL LEGAL QUESTIONS BE ANSWERED
          DIRECTLY BY A LICENSED ATTORNEY PRACTICING IN THE APPLICABLE AREA OF LAW.
        </p>
    </div>

    <div class="">
      <h4>Ownership Of Site and Contents; Downloading</h4>
      <p>
        This Site is owned by James W. Powers, Inc. Unless otherwise noted, all text, images, illustrations, designs, icons, photographs, video clips, links, logos, icons and other items and other materials that are part of or posted on our Site
        (collectively, the “Content”) are copyrighted works, trademarks, or other intellectual property owned, controlled, or licensed by James W. Powers, Inc. or used under principles of “fair use.”
      </p>
      <p>
        The Content of our Site and the Site as a whole are intended solely for your personal use. You may download or copy the Contents and other downloadable materials displayed on our Site for such uses, provided that you understand and agree that
        you may not remove, alter or cover any copyright or other proprietary notices placed on our Site or the associated Content. By allowing you to download these Content, we expressly do not transfer to you any right, title, or interest in the
        materials.
      </p>
    </div>

    <div class="">
      <h4>Restrictions on the Use of this Site</h4>
      <p>
        You are responsible for all activity related to your access or use of the Site and the Materials. You also are responsible for all activities under your password or registered account, if any, if you or others you allow to use your relevant
        information access and use the Site. In addition to the other restrictions contained in this Agreement, you acknowledge and agree that you will not, directly or indirectly, without our prior express written consent, (1) disguise the origin of
        information transmitted to or through this Site, (2) access or use this Site, the Materials or the Content for any purpose or in any manner inconsistent with the terms and provisions of this Agreement, (3) violate any federal, state, local or
        jurisdictional law, rule or regulation while accessing or using this Site, the Materials or the Content, (4) infringe upon or violate the intellectual property rights, privacy rights, moral rights, rights of attribution or any other similar
        rights of any individual or entity while accessing or using this Site, the Materials or the Content or posting any content or information on the Site, (5) post, publish or transmit any information on this Site that is abusive, defamatory,
        false, harassing, inaccurate, inappropriate, libelous, misleading, offensive, obscene, sexually explicit, threatening, unlawful, vulgar or otherwise objectionable, (6) post or publish any information on this Site that is intended to advertise
        or solicit business, including any multi-level marketing scheme, or that is a chain letter or part of a pyramid scheme, (7) harvest or collect information from the Site (including any user information) for the purpose of sending unsolicited
        bulk e-mail or other forms of unsolicited bulk communications, (8) install, upload or otherwise introduce any material to this Site that contains any time bombs, trojan horses, viruses, worms or other computer programming routines that could
        alter damage, expropriate, intercept or interfere with this Site, the Materials or the Content, (9) frame or utilize framing techniques to enclose any portion or aspect of the Content, (10) corrupt, hack, modify or otherwise tamper with this
        Site, the Materials or the Content, (11) impersonate any individual or misrepresent your affiliation with any individual or entity, (12) access or use this Site in any manner that reflects negatively on our reputation or goodwill, or (13)
        post content or information in areas of the Site not expressly designated and approved by us for posting.
      </p>
      <p>
        James W. Powers, Inc. reserves the sole and absolute discretion to deny, revoke, or otherwise restrict the access privileges of any user who at any time fails to comply with these Terms and Conditions.
      </p>
    </div>

    <div class="">
      <h4>Links To Other Sites</h4>
      <p>
        As a courtesy to you, this Site may contain links to websites and resources owned by other individuals and entities (collectively, the “Third Party Sites”). If you utilize the links to the Third Party Sites, you will leave this Site. If you
        decide to visit the Third Party Sites, you acknowledge and agree that (1) you do so at your own risk, (2) it is your responsibility to guard against time bombs, trojan horses, viruses, worms or other computer programming routines that could
        alter damage, expropriate, intercept or interfere with your computer system, (3) we are not endorsing, nor are we responsible for, the information, advertising or the content contained on the Third Party Sites, or the products or services
        promoted, offered by or sold on the Third Party Sites (including anything that could be abusive, defamatory, false, harassing, inaccurate, inappropriate, libelous, misleading, offensive, obscene, sexually explicit, threatening, unlawful,
        vulgar or otherwise objectionable, or that could be in violation of any federal, state, local or jurisdictional law, rule or regulation), (4) your access to and use of the Third Party Sites is subject to the Third Party Sites’ terms and
        conditions of use (including their respective privacy polices), (5) we are not responsible for the availability of the Third Party Sites, and (6) we are not making any representations or warranties regarding the accuracy, appropriateness,
        availability, completeness, freedom from viruses, performance, quality, security or timeliness of the Third Party Sites or their contents (including the text, graphics, images, software, audio and video clips, links, logos, icons and other
        items and materials contained on the Third Party Sites).
      </p>
      <p>
        Subject to the terms hereunder, you may link to this Site from your website through the placement of a plain textual link to “Northern Acres” (http://www.NorthernAcres.com). Linking to any other page of this Site (including through deep links
        or framed links) is prohibited in the absence of a separate written agreement with us. Unless we otherwise provide our express written consent, any website or other device that links to http://www.NorthernAcres.com or any page available in
        this Site is prohibited from (1) replicating the Content, (2) using a browser or border environment around the Content, (3) implying in any fashion that we or any of our affiliates are endorsing it or its products or services, (4) stating any
        fact that is misleading or that otherwise implies that we or any of our affiliates are endorsing it or any of its products or services or that we or any of our affiliates has any relationship with it, (5) presenting false information about us
        or our products or services, and (6) using any of the Content or, except as otherwise provided above with respect to the plain textual links.
      </p>
    </div>

    <div class="">
      <h2>James W. Powers, Inc. Privacy Policy</h2>
      <p>
        Registration data and certain other information about you obtained through the Site is subject to our Privacy Policy. For more information, see our full Privacy Policy below.
      </p>
    </div>

    <div class="">
      <h4>User Comments</h4>
      <p>
        All comments, feedback, postcards, suggestions, ideas, and other submissions disclosed, submitted, or offered to James W. Powers, Inc. through our Site or otherwise disclosed, submitted, or offered in connection with your use of our Site
        (collectively, “Comments”) shall be and remain the property of James W. Powers, Inc. You agree that James W. Powers, Inc. may use or disclose Comments in any manner consistent with our Privacy Policy. James W. Powers, Inc. shall be free to
        use, without restriction and without compensation to you, any ideas, concepts, know-how, suggestions, or techniques contained in any Comments you send to us for any purpose whatsoever.
      </p>
      <p>
        James W. Powers, Inc. has no obligation to respond to any Comments, and we reserve the right, but undertake no duty, to review, edit, move, or delete any material posted by users on our site, in our sole discretion and without notice.
      </p>
    </div>

    <div class="">
      <h4>Compliants Over Perceived Infringement</h4>
      <p>
        James W. Powers, Inc. respects intellectual property rights, and will deny access to users who, in our discretion, infringe the intellectual property rights of others. In addition, we will use efforts that are commercially reasonable in light
        of our resources to accommodate generally accepted technical measures used by copyright owners to identify and protect their copyrighted works. If you believe that materials posted on our Site infringe rights you enjoy under copyright law in
        specific materials (collectively, a “Work”), we request that you follow the procedure described below to notify us of your concerns or objections. In turn, we agree to respond to your notice, as outlined below, and remove or disable access to
        material that you believe infringes your Work.
      </p>
    </div>

    <div class="">
      <h4>Designated Agent</h4>
      <p>
        If you believe materials posted on our site infringe the copyright in your work, please direct your concerns to our agent, designated under the Digital Millennium Copyright Act (17 U.S.C. §512) to respond to such concerns (our “Designated
        Agent”):
      </p>
      <p>
        Webmaster <br>
        James W. Powers, Inc., dba Northern Acres <br>
        PO Box 10084 <br>
        Bedford, NH 03110 <br>
      </p>
      <p>
        Your notice to our Designated Agent should follow the notice provisions set out in the Digital Millennium Copyright Act (17 U.S.C. §512). Additional information can be obtained from the Web site of the Copyright Office located at
        http://www.loc.gov.
      </p>
    </div>

    <div class="">
      <h4>Disclaimer</h4>
      <p>
        OUR SITE AND ALL CONTENTS AND MATERIALS ARE PROVIDED ON AN “AS IS” BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A
        PARTICULAR PURPOSE. YOU ACKNOWLEDGE BY YOUR USE OF OUR SITE THAT YOUR USE OF OUR SITE IS AT YOUR SOLE RISK, THAT YOU ASSUME FULL RESPONSIBILITY FOR ALL COSTS ASSOCIATED WITH ALL NECESSARY SERVICING OR REPAIRS OF ANY EQUIPMENT YOU USE IN
        CONNECTION WITH YOUR USE OF OUR SITE, AND THAT JAMES W. POWERS, INC. SHALL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND RELATED TO YOUR USE OF OUR SITE. Please note that some jurisdictions may not allow the exclusion of implied warranties, so
        some of the above exclusions may not apply to you. Check your local laws for any restrictions or limitations regarding the exclusion of implied warranties.
      </p>
    </div>

    <div class="">
      <h4>Indemnification</h4>
      <p>
        You agree to indemnify and defend us, and our successors, assigns, partners, members, owners, shareholders, trustees, directors, officers, affiliates, licensors, licensees, agents and representatives (collectively the “Indemnified Parties”),
        with respect to, and hold the Indemnified Parties harmless from, any claims, damages, expenses (including reasonable attorneys’ fees) and other losses that the Indemnified Parties, or any of them, may directly or indirectly incur or suffer by
        reason of, or which results from, arises out of or is based upon (1) your access to or use of the Site, the Materials, the Content, the Third Party Sites or the Internet, (2) your posting, publishing or transmitting of the user information or
        Comments on, through or to this Site or the Third Party Sites, (3) any discontinuation, suspension or termination of the Site, the Materials or the Content, and (4) your violations of any of the terms or provisions of this Agreement.
      </p>
    </div>

    <div class="">
      <h4>Limited Liability</h4>
      <p>
        TO THE FULLEST EXTENT ALLOWED BY LAW, WE, ON BEHALF OF OURSELVES AND THE REMAINING INDEMNIFIED PARTIES, EXPRESSLY DISCLAIM ANY LIABILITY FOR ANY CONSEQUENTIAL, DIRECT, EXEMPLARY, INCIDENTAL, INDIRECT, PUNITIVE, SPECIAL OR OTHER CLAIMS,
        DAMAGES, EXPENSES (INCLUDING REASONABLE ATTORNEYS’ FEES) OR LOSSES, INCLUDING DAMAGES FOR LOSS OF USE OF THE MATERIALS OR THE CONTENT, LOST ACCESS TO THIS SITE, LOST PROFITS, OR OTHER INTANGIBLE LOSSES, WHETHER IN CONTRACT, TORT (INCLUDING
        NEGLIGENCE), STRICT LIABILITY, PRODUCT LIABILITY OR ANY OTHER THEORY OF LIABILITY, ARISING OUT OF, CONNECTED WITH OR RELATED TO (1)YOUR ACCESS TO OR USE OF THE SITE, THE MATERIALS, THE CONTENT, THE THIRD PARTY SITES OR THE INTERNET, (2) YOUR
        POSTING, PUBLISHING OR TRANSMITTING OF THE USER INFORMATION ON, THROUGH OR TO THIS SITE OR THE THIRD PARTY SITES, (3) ANY DISCONTINUATION, SUSPENSION OR TERMINATION OF THE SITE, THE MATERIALS OR THE CONTENT, (4) ANY THIRD PARTY STATEMENTS OR
        CONDUCT ON THE SITE, (5) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA, (6) THE ACCURACY, ADEQUACY, RELIABILITY, CURRENTNESS, COMPLETENESS, TIMELINESS, SUITABILITY, USEFULNESS OR APPLICABILITY OF ANY CONTENT OR MATERIALS
        AVAILABLE THROUGH THE SITE, OR (7) YOUR VIOLATION OF ANY OF THE TERMS OR PROVISIONS OF THIS AGREEMENT, EVEN IF WE WERE ADVISED OF SUCH POSSIBILITY, OR IF SUCH CLAIM, DAMAGE, EXPENSE OR LOSS WAS FORESEEABLE IN ANY WAY.
      </p>
      <p>
        IN THE EVENT ANY INDEMNIFIED PARTY IS FOUND TO BE RESPONSIBLE TO YOU FOR ANY CLAIM, DAMAGE, EXPENSE OR LOSS, SUCH INDEMNIFIED PARTY SHALL BE LIABLE ONLY FOR ACTUAL CLAIMS, DAMAGES, EXPENSES OR LOSSES. TO THE FULLEST EXTENT ALLOWED BY LAW,
        YOUR REMEDIES CONTAINED IN THIS AGREEMENT ARE EXCLUSIVE.
      </p>
      <p>
        BEFORE SEEKING LEGAL RECOURSE FOR ANY CLAIM, COST, DAMAGE, EXPENSE OR CLAIM THAT YOU BELIEVE YOU HAVE SUFFERED AS A RESULT OF YOUR ACCESS TO OR USE OF THE SITE, THE MATERIALS OR THE CONTENT, YOU ACKNOWLEDGE AND AGREE THAT YOU WILL GIVE US AT
        LEAST THIRTY (30) DAYS’ WRITTEN NOTICE PRIOR TO INITIATING ANY LEGAL ACTION, WHICH NOTICE SHALL SPECIFY SUCH CLAIM, COST, DAMAGE, EXPENSE OR CLAIM.
      </p>
    </div>

    <div class="">
      <h4>Miscellaneous Terms</h4>
      <p>
        Except to the extent expressly provided in another written agreement between you and us, this Agreement constitutes the entire agreement between you and us with respect to the subject matter hereof, and it supersedes any prior agreements
        between you and us with respect to the subject matter hereof. If any term or provision under this Agreement is found to be invalid or unenforceable by any court having competent jurisdiction, such invalidity or unenforceability shall not
        affect the validity or enforceability of the remaining terms and provisions of this Agreement, which shall remain in full force and effect. No waiver of any term or provision of this Agreement shall be deemed to be a further or continuing
        waiver of such term or provision, or of any other term or provision. We may assign our rights and obligations under this Agreement to any individual or entity at any time and without notice to you. The section headings used in this Agreement
        are for convenience only and have no legal effect.
      </p>
    </div>

    <div class="">
      <h4>How To Contact Us</h4>
      <p>
        If you have any questions about our Terms and Conditions or your dealings with our Site, you may contact us:
      </p>
      <p>
        by calling 877-640-5263; <br>
        by <a href="mailto:jwpowers@northernacres.com">e-mail</a> <br>
        or by mail at PO Box 10084, Bedford, NH 03110 <br>
      </p>
      <p>
        If you experience technical problems with the operation of our Site, contact our Webmaster:
      </p>
      <p>
        by calling 603-296-2380 <br>
        by <a href="mailto:jwpowers@northernacres.com">e-mail</a> <br>
        or by mail at PO Box 10084, Bedford, NH 03110 <br>
      </p>
    </div>

    <div class="">
      <h4>Governing Law, Waiver of Jury Trial and Venue</h4>
      <p>
        THIS AGREEMENT WILL BE GOVERNED BY AND CONSTRUED IN ACCORDANCE WITH THE DOMESTIC LAWS OF THE STATE OF NEW HAMPSHIRE, WITHOUT GIVING EFFECT TO ANY CHOICE OF LAW OR CONFLICTING PROVISION OR RULE THAT WOULD CAUSE THE LAWS OF ANY JURISDICTION
        OTHER THAN THE STATE OF NEW HAMPSHIRE TO BE APPLIED. THE PARTIES HERETO WAIVE ALL RIGHT TO TRIAL BY JURY IN ANY ACTION, SUIT OR PROCEEDING BROUGHT TO ENFORCE OR DEFEND ANY RIGHTS OR REMEDIES UNDER THIS AGREEMENT OR ANY DOCUMENTS RELATED
        HERETO. THE PARTIES HERETO AGREE THAT ALL DISPUTES AMONG THEM ARISING OUT OF, CONNECTED WITH, RELATED TO, OR INCIDENTAL TO THE RELATIONSHIP ESTABLISHED AMONG THEM IN CONNECTION WITH THIS AGREEMENT SHALL BE RESOLVED EXCLUSIVELY BY STATE OR
        FEDERAL COURTS LOCATED IN MANCHESTER OR CONCORD, NEW HAMPSHIRE, AND ANY APPELLATE COURT FROM ANY THEREOF. YOU HEREBY WAIVE ANY OBJECTION THAT YOU MAY NOW OR HEREAFTER HAVE TO THE LAYING OF VENUE OR TO THE JURISDICTION OF ANY SUCH ACTION, SUIT
        OR PROCEEDING. YOU ACKNOWLEDGE AND AGREE THAT ANY CLAIM OR CAUSE OF ACTON BROUGHT BY YOU AGAINST US OR ANY OF OUR AFFILIATES MUST BE FILED WITHIN ONE (1) YEAR AFTER SUCH CLAIM OR CAUSE OF ACTION AROSE.
      </p>
    </div>

    <div class="">
      <h2>Privacy Policy</h2>
      <p>
        James W. Powers, Inc. takes your privacy seriously. Please read our Privacy Policy to learn more about our commitment to protecting the privacy of users of the Northern Acres Web Site ("Site"). Any Personally Identifiable Information that we
        receive from you as a result of your use of this Site is subject to the terms and provisions of the Privacy Policy.
      </p>
      <p>
        We Keep Personal Information Private And We Limit Our Use Of Personal Information
      </p>
      <p>
        Information you may provide in visiting our Site falls into two broad categories: Personally Identifiable Information, and Aggregate Information. “Personally Identifiable Information” is information that can be used to identify or contact
        you, such as your name, email address, or mailing address. “Aggregate Information” is information that does not identify you, and may include, for example, statistical information concerning the Web pages on our Site that users most frequent.
        Our Privacy Policy governs both categories of information. The information we receive depends upon what you do when you visit our Site, as detailed below. We do not share with unrelated third parties any Personally Identifiable Information
        you provide to us. By “unrelated third parties” we mean anyone who is not directly involved in the maintenance or running of our Site, or not involved in fulfilling requests you make at our Site, or not within James W. Powers, Inc.'s
        corporate family.
      </p>
      <p>
        We use Personally Identifiable Information you provide to us when you visit our Site strictly for the purposes for which you have provided it. For example, if you request to receive more detailed, project-specific information, and you provide
        us with contact information (which may include Personally Identifiable Information, such as an e-mail address, mailing address, or phone number), we will use that information to contact you regarding your request or to send you information
        about our offerings. If, at any time, you decide you no longer wish to receive such information, simply notify us to that effect (for contact information, see section below entitled “How To Contact Us”).
      </p>
      <p>
        In the event that James W. Powers, Inc. desires to assign or transfer your Personally Identifiable Information and its rights hereunder to a third party, you agree that James W. Powers, Inc. may do so, on the condition that such third party
        agree to abide by this Privacy Policy. James W. Powers, Inc., however, cannot and does not guarantee or warrant that such third party will in fact abide by James W. Powers, Inc.'s Privacy Policy, and James W. Powers, Inc. expressly disclaims
        any such obligations.
      </p>
    </div>

    <div class="">
      <h4>Security Of The Personal Information You Provide To Us</h4>
      <p>
        Each of our employees abides by our Privacy Policy, and only authorized employees have access to your Personally Identifiable Information. We have in place security control systems designed to prevent unauthorized disclosure of your
        Personally Identifiable Information. DUE TO THE NATURE OF THE INTERNET AND DEVELOPING TECHNOLOGIES, WE CANNOT, HOWEVER, PROVIDE ASSURANCES AS TO THE SECURITY OF YOUR INFORMATION, AND JAMES W. POWERS, INC. EXPRESSLY DISCLAIMS ANY SUCH
        OBLIGATIONS.
      </p>
    </div>

    <div class="">
      <h4>Exception To Our Privacy Policy</h4>
      <p>
        There is an exception to our Privacy Policy in that it may be necessary for James W. Powers, Inc. to release or use Personally Identifiable Information we in good faith believe is appropriate in connection with legal proceedings, or in
        response to a subpoena, warrant, court order, levy, attachment, order of a court-appointed receiver, or other comparable legal process, including subpoenas from private parties in a civil action.
      </p>
    </div>

    <div class="">
      <h4>Policies For Children (Individuals Under 13 Years Of Age)</h4>
      <p>
        Our Site is not directed to children under the age of 13. However, we hereby advise all visitors to our Site under the age of 13 not to disclose or provide any Personally Identifiable Information on our Site. In the event we discover that a
        child under the age of 13 has provided Personally Identifiable Information to us, in accordance with the Children’s Online Privacy Protection Act of 1998, we will delete the child’s Personally Identifiable Information from our files. For more
        information regarding a child under the age of 13 providing Personally Identifiable Information, see the Federal Trade Commission’s Web site explaining the Children’s Online Privacy Protection Act of 1998 at <a
          href="http://www.ftc.gov/ogc/coppa1.htm">http://www.ftc.gov/ogc/coppa1.htm</a>.
      </p>
    </div>

    <div class="">
      <h4>If You Visit Our Site to Browse or to Read or Downlaod Information</h4>
      <p>
        We may collect and store: the name of the domain name and host from which you access the Internet (for example, aol.com); the Internet Protocol (IP) address of the computer you are using; the browser software you use and your operating
        system; the date and time you access our Site, and other activity on our Site; and the Internet address of the Web site from which you linked to our Site. If we collect this information, we use it for system administration, to measure the
        number of visitors to our Site, to improve Site performance, to help us make our Site more useful and/or to gather broad Aggregate Information.
      </p>
      <p>
        We do not link an IP address to Personally Identifiable Information, meaning that a user’s session will be logged but the user remains anonymous to us. If we do decide to link any Aggregate Information, or your IP address to your Personally
        Identifiable Information, we will treat the resulting information as “Personally Identifiable Information” for all purposes under our Privacy Policy contained herein.
      </p>
    </div>

    <div class="">
      <h4>Use Of "Cookies"</h4>
      <p>
        We may collect Aggregate Information about your use of our Site through cookies and similar Internet technologies. “Cookies” are small pieces of information that a Web site transfers to your hard drive, where it is stored by your browser on
        your computer’s hard drive for record-keeping purposes (such as storing user preferences). If we use cookies, they do not collect or retain your name or other Personally Identifiable Information. If we use cookies, we will treat all
        information that may be collected through cookies and similar Internet technologies as Aggregate Information. In addition, no third parties are permitted to use cookies we may create at our Site for their own purposes. Please be advised,
        however, that Third Party Sites you link to from our Site may use cookies. You should read and understand the privacy policy of the web site(s) you link to in order to determine whether and how a particular site uses cookies. Most browsers
        are initially set up to accept cookies. You can reset your browser to refuse all cookies or indicate when a cookie is being sent. Please consult the help section of your Web browser software to learn how to do this.
      </p>
    </div>

    <div class="">
      <h4>Questions</h4>
      <p>
        If you have questions about this Privacy Policy, you can contact us in the following ways:
      </p>
      <p>
        by calling 877-640-5263; <br>
        by <a href="mailto:jwpowers@northernacres.com">e-mail</a> <br>
        or by mail at PO Box 10084, Bedford, NH 03110 <br>
      </p>
    </div>

  </section>