<footer id="footer">
    <p>
      <a class="footer-link" routerLink="/home">Home</a> |
      <a class="footer-link" >Properties for Sale</a> |
      <a class="footer-link" href="http://www.greatbrookpreserve.com/">Great Brook Preserve</a> |
      <a class="footer-link" >Financing</a> |
      <a class="footer-link" >FAQ</a> |
      <a class="footer-link" >About Us</a> |
      <a class="footer-link" routerLink="/termsConditions">Terms and Conditions</a> |
      <a class="footer-link" >Contact</a>
    </p>
  
    <a class="footer-icon" href="https://twitter.com/NorthernAcres"><i class="fab fa-twitter"></i></a>
    <a class="footer-icon" href="https://www.facebook.com/nhlandforsale/"><i class="fab fa-facebook-f"></i></a>
    <a class="footer-icon" href="#"><i class="fab fa-instagram"></i></a>
    <a class="footer-icon" href="mailto:jwpowers@northernacres.com"><i class="fas fa-envelope"></i></a>
  
    <p class="copyright">© Copyright 2019 James W. Powers, Inc. All rights reserved.</p>
  </footer>
